body {
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    white-space: normal;
}
#header-site {
    background: #262727 none repeat scroll 0 0;
    border-bottom: 2px solid #cf4137;
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo-site {
    float: left;
    height: 50px;
    margin: 5px 0 0px 10px;
    width: 140px;
}
.logo-site h1 {
    margin: 0;
}
.logo-site h1 a {
    float: left;
    height: 40px;
    width: 131px;
    text-indent:-999px;
    background-image:url('https://upload.wikimedia.org/wikipedia/en/7/79/Veeco_company_logo.png');
    background-repeat:no-repeat;
    background-position:0px; 
    background-size:100px;
}

/*Notification Bell dropdown*/
.top-nav {
    padding: 0 5px;
}
.top-nav > li {
    display: inline-block;
    float: left;
}
.top-nav > li > a {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.top-nav > li span.badge {
    background: #ca3f02 none repeat scroll 0 0;
    border: 3px solid #262727;
    font-family: "Open Sans",sans-serif;
    font-size: 11px;
    font-weight: 300;
    padding: 2px 5px;
    position: absolute;
    right: 3px;
    top: 3px;
}
.dropdown-notification .dropdown-menu{width:275px;   max-width: 275px;
    min-width: 160px;}
.dropdown-notification > a {
    font-size: 18px !important;
    line-height: 29px !important;
}
.top-nav .dropdown-menu .dropdown-menu-list {
    list-style: outside none none;
    padding-left: 0;
    padding-right: 0 !important;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external {
    border-radius: 4px 4px 0 0;
    display: block;
    letter-spacing: 0.5px;
    overflow: hidden;
    padding: 15px;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external > h3 {
    display: inline-block;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #888;
    clear: inherit;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    right: 10px;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external {
    background: #eaedf2 none repeat scroll 0 0;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list {
    list-style: outside none none;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a {
    clear: both;
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding: 16px 15px 18px;
    text-shadow: none;
    white-space: normal;
    border-bottom: 1px solid #eff2f6 !important;

}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .time {
    float: right;
    font-size: 11px;
    font-weight: 400;
    max-width: 75px;
    opacity: 0.7;
    padding: 1px 5px;
    text-align: right;
    background: #f1f1f1 none repeat scroll 0 0;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details {
    font-size:13px;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon {
    border-radius: 50%;
    margin-right: 10px;
}
.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
    background-color: #171717;
    color: #999999;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover {
    background: #f8f9fa none repeat scroll 0 0;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #ca3f02;
}

/*Toggle Navigation design*/
.navbar-default .navbar-toggle{ border:none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}

@media(max-width:768px){
.navbar-collapse{ clear:both;}
    
}






/* product */
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');   
body{font-family: 'Quicksand', sans-serif;}
   h4{
    	font-weight: 600;
	}
	p{
		font-size: 12px;
		margin-top: 5px;
	}
	.price{
		font-size: 30px;
    	margin: 0 auto;
    	color: #333;
	}

	.thumbnail{
		opacity:0.70;
		-webkit-transition: all 0.5s; 
		transition: all 0.5s;
	}
	.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0px 0px 10px #4bc6ff;
	}
	.line{
		margin-bottom: 5px;
	}
	@media screen and (max-width: 770px) {
		.right{
			float:left;
			width: 100%;
		}
	}
	span.thumbnail {
        border: 1px solid #00c4ff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
	padding: 10px;
}
.container h4{margin-top:70px; margin-bottom:30px;}
button {    margin-top: 6px;
}
.right {
    float: right;
    border-bottom: 2px solid #0a5971;
}
.btn-info {
    color: #fff;
    background-color: #19b4e2;
    border-color: #19b4e2;
	font-size:13px;
	font-weight:600;
}




/* product-2 css */
.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition: box-shadow 0.5s;
		
		}
		
		
		/* footer */
		
.footer {
	background: #21313F;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #F5F5F5;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #F5F5F5
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}